[Desktop Entry]
Version=1.0
Name=WinFF
Comment=GUI for FFMPEG
Exec=winff
Icon=winff
Terminal=false
Type=Application
Categories=AudioVideo;AudioVideoEditing;GTK
GenericName=Video converter
GenericName[en]=Video converter
GenericName[nl]=Video converteerder
