[Desktop Entry]
Version=1.0
Name=WinFF
Comment=GUI for ffmpeg or avconv
MimeType=application/winff;
Exec=winff %f
Icon=winff
Terminal=false
Type=Application
Categories=AudioVideo;AudioVideoEditing;GTK;
Keywords=avconv;ffmpeg;wrapper;conversion;video;audio;
GenericName=Video converter
GenericName[en]=Video converter
GenericName[nl]=Video converteerder
GenericName[zh_TW]=視頻轉換器
GenericName[zh_CN]=视频转换器
GenericName[yi]=רעטרעוונאַק אעדיוו
GenericName[xh]=Isiguquli sevidiyo
GenericName[vi]=Chuyển đổi video
GenericName[uz]=Video konvertori
GenericName[ur]=ﺮﭨﺭﻮﻨﮐ ﻮﯾﮉﯾﻭ
GenericName[uk]=Відео конвертер
GenericName[ug]=ﭺﯘﻏﺭﯗﺪﻧﻼ﻿ﻳﺎﺋ ﻦﯩﺳ
GenericName[tt]=Видео конвертер
GenericName[tr]=Video dönüştürücü
GenericName[tk]=Wideo öwrüji
GenericName[th]=ตัวแปลงวิดีโอ
GenericName[tg]=Табдилдиҳандаи видео
GenericName[te]=వీడియో కన్వర్టర్
GenericName[ta]=வீடியோ மாற்றி
GenericName[sw]=Kigeuzi video
GenericName[sv]=Videoomvandlare
GenericName[sr]=Видео конвертер
GenericName[sq]=Konvertues video
GenericName[so]=Video-gale
GenericName[sn]=Vhidhiyo converter
GenericName[sm]=Vitio liliu
GenericName[sl]=Video pretvornik
GenericName[sk]=Video konvertor
GenericName[si]=වීඩියෝ පරිවර්තකය
GenericName[sd]=ﺮٽﺭﻮﻨڪ ﻮﻳڊﻭ
GenericName[rw]=Guhindura amashusho
GenericName[ru]=Видео конвертер
GenericName[ro]=Convertor Video
GenericName[pt_BR]=Conversor de Áudio e Vídeo
GenericName[pt]=Conversor de vídeo
GenericName[ps]=ﺮټﺭﻮﻨﮐ ﻮﯾډﯾﻭ ﺩ
GenericName[pl]=Konwerter wideo
GenericName[pa]=ਵੀਡੀਓ ਕਨਵਰਟਰ
GenericName[or]=ଭିଡିଓ କନଭର୍ଟର |
GenericName[ny]=Video Converter
GenericName[nb]=Video-konverterer
GenericName[ne]=भिडियो कनवर्टर
GenericName[my]=ဗီဒီယိုပြောင်းစက်
GenericName[mt]=Konvertitur tal-vidjo
GenericName[ms]=Penukar video
GenericName[mr]=व्हिडिओ कनवर्टर
GenericName[mn]=Видео хөрвүүлэгч
GenericName[ml]=വീഡിയോ പരിവർത്തനം ചെയ്യുന്നത്
GenericName[mk]=Видео конвертор
GenericName[mi]=Kaitahuri ataata
GenericName[mg]=Video mpanova
GenericName[lv]=Video pārveidotājs
GenericName[lt]=Vaizdo keitiklis
GenericName[lo]=ແປງວິດີໂອ
GenericName[lb]=Video Converter
GenericName[ky]=Видео конвертер
GenericName[ku]=Veguherkera vîdyoyê
GenericName[ko]=비디오 변환기
GenericName[kn]=ವೀಡಿಯೊ ಪರಿವರ್ತಕ
GenericName[km]=កម្មវិធីបម្លែងវីដេអូ
GenericName[kk]=Бейне түрлендіргіш
GenericName[ka]=Ვიდეო კონვერტორი
GenericName[jv]=Konverter video
GenericName[ja]=ビデオコンバーター
GenericName[it]=Convertitore video
GenericName[is]=Vídeóbreytir
GenericName[id]=Alat konversi video
GenericName[hy]=Վիդեո փոխարկիչ
GenericName[hu]=Videó konvertáló
GenericName[ht]=Konvètisè videyo
GenericName[hr]=Video pretvarač
GenericName[hi]=वीडियो कनवर्टर
GenericName[he]=ואדיו ריממ
GenericName[haw]=Mea hoʻololi wikiō
GenericName[ha]=Mai sauya bidiyo
GenericName[gu]=વિડિઓ કન્વર્ટર
GenericName[gl]=Conversor de vídeo
GenericName[gd]=Tionndadh bhidio
GenericName[ga]=Tiontaire físeáin
GenericName[fy]=Fideo omsetter
GenericName[fr_BE]=Convertisseur de vidéos
GenericName[fr]=Convertisseur de vidéos
GenericName[fi]=Videon muunnin
GenericName[fa]=ﻮﺋﺪﯾﻭ ﻝﺪﺒﻣ
GenericName[eu]=Bideo bihurgailua
GenericName[et]=Videoteisendaja
GenericName[es]=Convertidor de video
GenericName[eo]=Video konvertilo
GenericName[el]=Μετατροπέας βίντεο
GenericName[de]=Videokonverter
GenericName[da]=Video konverter
GenericName[cy]=Trawsnewidydd fideo
GenericName[cs]=Video konvertor
GenericName[ca]=Convertidor de vídeo
GenericName[bs]=Video konverter
GenericName[bn]=ভিডিও রুপান্তরক
GenericName[bg]=Видео конвертор
GenericName[be]=Канвэртар відэа
GenericName[ar]=ﻮﻳﺪﻴﻔﻟﺍ ﻝﻮﺤﻣ
GenericName[am]=ቪዲዮ መቀየሪያ
GenericName[af]=Video wisselaar
Comment[zh_TW]=ffmpeg 或 avconv 的 GUI
Comment[zh_CN]=ffmpeg 或 avconv 的 GUI
Comment[yo]=GUI fun ffmpeg tabi avconv
Comment[yi]=GUI ראַפֿ ffmpeg רעדאָ avconv
Comment[xh]=I-GUI yeffmpeg okanye i-avconv
Comment[vi]=GUI cho ffmpeg hoặc avconv
Comment[uz]=Ffmpeg yoki avconv uchun GUI
Comment[ur]=ffmpeg ﺎﯾ avconv ﮯﯿﻟ ﮯﮐ GUI
Comment[uk]=Графічний інтерфейс для ffmpeg або avconv
Comment[ug]=Ffmpeg ﻰﻛﺎﻳ avconv ﻥﯜﭼﯜﺋ GUI
Comment[tt]=Ffmpeg яки avconv өчен GUI
Comment[tr]=ffmpeg veya avconv için GUI
Comment[tk]=Ffmpeg ýa-da avconv üçin GUI
Comment[th]=GUI สำหรับ ffmpeg หรือ avconv
Comment[tg]=GUI барои ffmpeg ё avconv
Comment[te]=ffmpeg లేదా avconv కోసం GUI
Comment[ta]=ffmpeg அல்லது avconv க்கான GUI
Comment[sw]=GUI ya ffmpeg au avconv
Comment[sv]=GUI för ffmpeg eller avconv
Comment[su]=GUI pikeun ffmpeg atanapi avconv
Comment[st]=GUI bakeng sa ffmpeg kapa avconv
Comment[sr]=ГУИ за ффмпег или авцонв
Comment[sq]=GUI për ffmpeg ose avconv
Comment[so]=GUI ee ffmpeg ama avconv
Comment[sn]=GUI yeffmpeg kana avconv
Comment[sm]=GUI mo ffmpeg poʻo avconv
Comment[sl]=GUI za ffmpeg ali avconv
Comment[sk]=GUI pre ffmpeg alebo avconv
Comment[si]=ffmpeg හෝ avconv සඳහා GUI
Comment[sd]=ffmpeg ﺎﻳ avconv ِءﻻ﻿ GUI
Comment[rw]=GUI kuri ffmpeg cyangwa avconv
Comment[ru]=Графический интерфейс для ffmpeg или avconv
Comment[ro]=GUI pentru ffmpeg sau avconv
Comment[pt_BR]=É uma interface gráfica para o ffmpeg ou avconv que serve para converter áudio e vídeo para vários formatos
Comment[pt]=Interface gráfico para o ffmpeg ou avconv
Comment[ps]=GUI ﺩ ffmpeg ﺎﯾ avconv ﻩﺭﺎﭙﻟ
Comment[pl]=GUI dla ffmpeg lub avconv
Comment[pa]=ffmpeg ਜਾਂ avconv ਲਈ GUI
Comment[or]=Ffmpeg କିମ୍ବା avconv ପାଇଁ GUI |
Comment[ny]=GUI ya ffmpeg kapena avconv
Comment[nb]=GUI for ffmpeg eller avconv
Comment[nl]=GUI voor ffmpeg of avconv
Comment[ne]=ffmpeg वा avconv को लागि GUI
Comment[my]=ffmpeg သို့မဟုတ် avconv အတွက် GUI
Comment[mt]=GUI għal ffmpeg jew avconv
Comment[ms]=GUI untuk ffmpeg atau avconv
Comment[mr]=ffmpeg किंवा avconv साठी GUI
Comment[mn]=Ffmpeg эсвэл avconv-д зориулсан GUI
Comment[ml]=ffmpeg അല്ലെങ്കിൽ avconv-നുള്ള GUI
Comment[mk]=GUI за ffmpeg или avconv
Comment[mi]=GUI mo ffmpeg avconv ranei
Comment[mg]=GUI ho an'ny ffmpeg na avconv
Comment[lv]=GUI priekš ffmpeg vai avconv
Comment[lt]=GUI, skirta ffmpeg arba avconv
Comment[lo]=GUI ສໍາລັບ ffmpeg ຫຼື avconv
Comment[lb]=GUI fir ffmpeg oder avconv
Comment[ky]=ffmpeg же avconv үчүн GUI
Comment[ku]=GUI ji bo ffmpeg an avconv
Comment[ko]=ffmpeg 또는 avconv용 GUI
Comment[kn]=ffmpeg ಅಥವಾ avconv ಗಾಗಿ GUI
Comment[km]=GUI សម្រាប់ ffmpeg ឬ avconv
Comment[kk]=ffmpeg немесе avconv үшін GUI
Comment[ka]=GUI ffmpeg ან avconv-სთვის
Comment[jv]=GUI kanggo ffmpeg utawa avconv
Comment[ja]=ffmpegまたはavconvのグラフィカルユーザーインターフェイス
Comment[it]=GUI per ffmpeg o avconv
Comment[is]=GUI fyrir ffmpeg eða avconv
Comment[id]=GUI untuk ffmpeg atau avconv
Comment[hy]=GUI ffmpeg-ի կամ avconv-ի համար
Comment[hu]=GUI az ffmpeg vagy avconv számára
Comment[ht]=GUI pou ffmpeg oswa avconv
Comment[hr]=GUI za ffmpeg ili avconv
Comment[hi]=Ffmpeg या avconv . के लिए GUI
Comment[he]=GUI רובע ffmpeg וא avconv
Comment[haw]=GUI no ffmpeg a i ʻole avconv
Comment[ha]=GUI don ffmpeg ko avconv
Comment[gu]=ffmpeg અથવા avconv માટે GUI
Comment[gl]=GUI para ffmpeg ou avconv
Comment[gd]=GUI airson ffmpeg no avconv
Comment[ga]=GUI le haghaidh ffmpeg nó avconv
Comment[fy]=GUI foar ffmpeg of avconv
Comment[fr_BE]=Interface graphique pour ffmpeg ou avconv
Comment[fr]=Interface graphique pour ffmpeg ou avconv
Comment[fil]=GUI para sa ffmpeg o avconv
Comment[fi]=GUI for ffmpeg tai avconv
Comment[fa]=avconv ﺎﯾ ffmpeg ﯼﺍﺮﺑ ﯽﮑﯿﻓﺍﺮﮔ ﯼﺮﺑﺭﺎﮐ ﻂﺑﺍﺭ
Comment[eu]=ffmpeg edo avconv for GUI
Comment[et]=GUI ffmpeg või avconv jaoks
Comment[es]=GUI para ffmpeg o avconv
Comment[eo]=GUI por ffmpeg aŭ avconv
Comment[el]=GUI για ffmpeg ή avconv
Comment[de]=GUI für ffmpeg oder avconv
Comment[da]=GUI til ffmpeg eller avconv
Comment[cy]=GUI ar gyfer ffmpeg neu avconv
Comment[cs]=GUI pro ffmpeg nebo avconv
Comment[co]=GUI per ffmpeg o avconv
Comment[ceb]=GUI para sa ffmpeg o avconv
Comment[ca]=GUI per a ffmpeg o avconv
Comment[bs]=GUI za ffmpeg ili avconv
Comment[bn]=ffmpeg বা avconv-এর জন্য GUI
Comment[bg]=GUI за ffmpeg или avconv
Comment[be]=Графічны інтэрфейс для ffmpeg або avconv
Comment[ar]=avconv ﻭﺃ ffmpeg ـﻟ ﺔﻴﻣﻮﺳﺮﻟﺍ ﻡﺪﺨﺘﺴﻤﻟﺍ ﺔﻬﺟﺍﻭ
Comment[am]=GUI ለ ffmpeg ወይም avconv
Comment[af]=GUI vir ffmpeg of avconv
Name[zh_TW]=贏FF
Name[zh_CN]=赢FF
Name[ur]=ﻒﯾﺍ ﻒﯾﺍ ﻥﻭ
Name[sr]=ВинФФ
Name[pt_BR]=Conversor de Multimídia WinFF
Name[km]=វីនអេហ្វ
Name[hi]=विनएफएफ
Name[gu]=વિનએફએફ
Name[de]=Videokonverter »WinFF«
Name[bn]=উইনএফএফ
Name[am]=ዊንኤፍ.ኤፍ
